---
layout: default
title: Generalized coastlines
---

<div class="titleimg" style="background-image: url(/img/data-generalized-coastlines.png);">
</div>

<h1>Generalized coastlines</h1>

<p>Linestrings of coastlines as well as land and water polygons generalized for
rendering well readable maps at low zoom levels. Small details have been
removed while maintaining and enlarging key features.</p>

<h2>Description</h2>

<p>The <a href="/data/coast.html">original OpenStreetMap coastline data</a> contains a lot of detail that badly
affects readability of maps at coarse scales.  In the files available here the geometries
have been generalized to remove small details unnecessary for rendering at these
levels.  <a href="/processing/generalization.html">Learn more about coastline generalization...</a></p>

<p>Generalization is specific for the map projection used - currently this is available
only in <a href="/info/projections.html#mercator">Mercator</a> projection.</p>

<p>Note geometries in these files extend beyond the limits of the projection in x-direction
to allow seamless rendering of maps.  As a result these files cannot be reprojected into other
coordinate systems.</p>

<h2>Variants</h2>

<p>Land polygons, water polygons and coastlines are available separately. All
variants contain separate files with a level of generalization designed for a
certain web map zoom level. Due to processing details the land and water
polygons do not match exactly but the mismatch should usually be negligible at
the target zoom levels. The coastlines match the land polygons.</p>

<h2>See also</h2>

<a href="/data/water-polygons.html">Water polygons</a> &middot;
<a href="/data/land-polygons.html">Land polygons</a> &middot;
<a href="/data/coastlines.html">Coastlines</a>

<h2>Download</h2>

<table class="download">
<%= download('coastlines-generalized-3857.zip',     'Shapefile', 'Mercator', 'coastlines generalized for z=1-8') %>
<%= download('land-polygons-generalized-3857.zip',  'Shapefile', 'Mercator', 'land polygons generalized for z=1-8') %>
<%= download('water-polygons-generalized-3857.zip', 'Shapefile', 'Mercator', 'water polygons generalized for z=1-8') %>
</table>

{% include license-cc-by-sa.html %}
{% include notes-broken-coastline.html %}

