---
layout: default
title: Antarctic icesheet datasets
---

<h1>Antarctic icesheet datasets</h1>

<p>In the Antarctic, south of -60 degrees latitude, glaciation is <a
href="https://wiki.openstreetmap.org/wiki/Antarctica/Tagging">not explicitly
mapped</a> in OpenStreetMap to avoid huge polygons that are difficult to
handle. Instead it is assumed that all land areas that are not explicitly
mapped otherwise are covered by ice. This needs to be taken into consideration
when interpreting the OpenStreetMap data like for rendering a map. The data
here was created to make this easier.
<a href="/processing/icesheet.html">Learn more about the Antarctic Icesheet processing...</a></p>

<p>The results of this can be downloaded here.</p>

{% include data/icesheet-polygons.html %}
{% include data/icesheet-outlines.html %}

