---
layout: default
title: Land polygons
js: get-file-change-date
---

<div class="titleimg" style="background-image: url(/img/data-land-polygons.png);">
</div>

<h1>Land polygons</h1>

<p>Polygons for all land areas in the world, ie. continents and islands. Optionally,
large polygons are split into smaller overlapping chunks that are easier and faster
to work with.</p>

<h2>Description</h2>

<p>The data has been derived from OpenStreetMap ways tagged with
<tt>natural=coastline</tt>. Ways are assembled into polygons and then
split. Some errors in the OSM data are repaired in the process.
<a href="/processing/coastline.html">Learn more about the coastline processing...</a></p>

<p>Where polygons have been split they overlap slightly to help avoiding
rendering artefacts at the seams.</p>

<h2>Variants</h2>

<ul>
    <li>Large polygons are available as complete polygons or split into
    smaller polygons.</li>
    <li>The data is available in <a href="/info/projections.html#wgs84">WGS84</a>
    and <a href="/info/projections.html#mercator">Mercator</a>
    projection.</li>
</ul>

<h2>See also</h2>

<a href="/data/water-polygons.html">Water polygons</a> &middot;
<a href="/data/coastlines.html">Coastlines</a>

<h2>Download</h2>

<table class="download">
{% include download file='land-polygons-complete-4326.zip' format='Shapefile' proj='WGS84' desc='(Large polygons not split)' %}
{% include download file='land-polygons-split-4326.zip' format='Shapefile' proj='WGS84' desc='(Large polygons are split, use for larger scales)' %}
{% include download file='land-polygons-complete-3857.zip' format='Shapefile' proj='Mercator' desc='(Large polygons not split)' %}
{% include download file='land-polygons-split-3857.zip' format='Shapefile' proj='Mercator' desc='(Large polygons are split, use for larger zoom levels)' %}
{% include download file='simplified-land-polygons-complete-3857.zip' format='Shapefile' proj='Mercator' desc='(Large simplified polygons not split, use for  zoom level 0-9)' %}
</table>

{% include license-odbl.html %}
{% include notes-broken-coastline.html %}

